# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/impact_circle

# Better Auth
BETTER_AUTH_SECRET=impact_circle_secret_generate_this_min_32_chars
BETTER_AUTH_URL=http://localhost:8787 # Backend URL
FRONTEND_URL=http://localhost:3000
